<header class="site-header" role="banner">
  <div class="wrapper">
      <table class="table_header">
	<tr>
		<div class="navsame">
			<!-- <a href="{{ "/my cv" | relative_url }}">My CV</a>-->
			<a href="/my cv/CV_2021.pdf" target="_blank"> My CV (PDF)</a>
			<a href="../#awardAnch">Awards</a>			
			<a href="{{ "/project resources" | relative_url }}">Project Resources</a>
			<a href="{{ "/teaching" | relative_url }}">Teaching</a>
			<!--<a href="{{ "/research" | relative_url }}">Research</a>-->
			<a href="../#pubAnch">Publications</a>
			<a href="{{ "/" | relative_url }}">Home</a>
		</div>
	</tr>
	<tr>
		<td><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
			<p><span style="color: #6b82d0;font-weight:500">Assistant Professor, University of South Florida</span>&nbsp;|&nbsp;
			<span style="color: #c364c5;font-weight:500">ebrahimim</span> [<span style="color: #c364c5;font-weight:500">@</span>] <span style="color: #c364c5;font-weight:500">usf.edu</span>&nbsp;|&nbsp;
			<a class="googschol" style="color: #e3ae01; font-weight:500" href="https://scholar.google.com/citations?hl=en&user=4DmURbEAAAAJ" target="_blank">Google Scholar</a>&nbsp;|&nbsp;
			<a class="googschol" style="color: #ff6a00; font-weight:500" href="/my cv/CV_2021.pdf" target="_blank"> My CV (PDF)</a></p>
		</td>
		<td rowspan="2" style="width:45%">
			<img src="wc.png" alt="" height=302 width=470></img></td>
	</tr>

	</table>
  </div>
</header>
