---
layout: default
---

p.title {
	font-size: 30px;
}

span.author {
	font-size: 30px;
}


#<p>title <span style="font-size: 30pt;">author</span></p>

<p class="title">Detecting and Investigating Crime by Means of Data Mining: A General Crime Matching Framework <span class="author">M. Keyvanpour, M. Javideh, M. Ebrahimi</span></p>
#<br style="font-size:20px">M. Keyvanpour, M. Javideh, M. Ebrahimi
#<br style="font-size:10px">Procedia Computer Science Volume 3, World Conference on Information Technology, Edited by AdemKarahoca, Sezer, pp. 872-880, 2011.</p>
#<a class="button" href="http://www.worldcist.org/" target="_blank">WorldCIST</a>
